<section style="background-color:#FF9177;">
  <div class="container">
    <div class="row text-center text-white padding25" >
      <div class="col-12">
        <h1><strong> Red de sensores Libelium </strong></h1>
      </div>
    </div>
  </div>
</section>

<section id="seleccionParam">
  <div class="row text-center">
    <div class="col-6 col-md-4">
      <h2>Selecciona parametro</h2>
    </div>
    <div class="col-6 col-md-4">
      <h2>Consultar por: </h2>
    </div>
    <div class="col-12 col-md-4">
      <h2>Visualizar los ultimos:</h2>
    </div>
  </div>
  <div class="row text-center align-items-center">
    <div class="col-6 col-md-4">
      <button type="button" class="btn"> Temperatura </button><br>
      <button type="button" class="btn"> Humedad </button><br>
      <button type="button" class="btn"> Presión </button><br>
      <button type="button" class="btn"> CO2 </button><br>
    </div>
    <div class="col-6 col-md-4">
      <button type="button" class="btn"> Horas </button><br>
      <button type="button" class="btn"> Días </button><br>
    </div>
    <div class="col-12 col-md-4">
      <button type="button" class="btn"> Horas </button><br>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-3">
      <button type="button" class="btn btn-block btn-lg">Ver grafica</button>
    </div>
  </div>
</section>
