<section style="background-color:#FF9177;">
  <div class="container">
    <div class="row text-center text-white padding25" >
      <div class="col-12">
        <h1><strong> Red de sensores Libelium </strong></h1>
      </div>
    </div>
  </div>
</section>

<section id="seleccionParam">
  <div class="container">
    <form (ngSubmit)="verGrafico(forma)" #forma="ngForm">
      <div class="form-row">
        <div class="form-group col-12 col-md-4">
          <label>Seleccione parametro</label>
          <select class="form-control" name="parametro" ngModel>
            <option>Temperatura</option>
            <option>Humedad</option>
            <option>Presión</option>
            <option>CO2</option>
          </select>
        </div>
        <div class="form-group col-12 col-md-4">
          <label>Consultar por:</label>
          <select class="form-control" name="tipo" ngModel>
            <option>Días</option>
            <option>Horas</option>
          </select>
        </div>
        <div class="form-group col-12 col-md-4">
          <label>Ingrese cantidad de datos a visualizar: </label>
          <input class="form-control" type="number" name="cantidad" ngModel>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</section>

<section id="grafico">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div style="display: block;">
        <canvas baseChart width="200" height="200"
                    [datasets]="lineChartData"
                    [labels]="lineChartLabels"
                    [options]="lineChartOptions"
                    [colors]="lineChartColors"
                    [legend]="lineChartLegend"
                    [chartType]="lineChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12" style="margin-top: 30px">
        <table class="table table-responsive table-condensed">
          <tr>
            <th *ngFor="let label of lineChartLabels">{{label}}</th>
          </tr>
          <tr *ngFor="let d of lineChartData">
            <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
          </tr>
        </table>
        <button (click)="randomize()">CLICK</button>
      </div>
    </div>
  </div>
</section>
