<div class="container">
  <div class="row">
    <div class="col-12 col-md-6">
      <h1>Selecciona el dispositivo</h1>
      <app-dispositivos (dispositivoSeleccionado)="setDispositivo( $event )"></app-dispositivos>
    </div>
    <div class="col-12 col-md-6" *ngIf="dispositivo">
      <h1>Selecciona el parametro del dispositivo</h1>
      <app-parametros [params]="parametros" (parametroSeleccionado)="setParametro( $event )"></app-parametros>
    </div>
  </div>
  <div class="row text-center" *ngIf="data">
    <div class="col-12">
      <h1>Grafico</h1>

    </div>
  </div>

</div>
