<div class="container">
  <div class="jumbotron">
    <h1>Datos obtenidos desde Digi Remote Manager</h1>
    <p class="lead"> Se muestran los datos de Temperatura, Humedad y presión</p>
  </div>
</div>
<br>
<hr>
<br>
<div class="container">
  <div class="row text-center" *ngFor="let objeto of data">
    <div class="col-12 col-md-4">
      <h2>Temperatura</h2>
      <br>
      <i class="fas fa-thermometer-half fa-7x"></i>
      <p> 35° Celsius </p>
      <br>
    </div>
    <div class="col-12 col-md-4">
      <h2>Humedad</h2>
      <br>
      <i class="fas fa-tint fa-7x"></i>
      <p> 50% </p>
      <br>
    </div>
    <div class="col-12 col-md-4">
      <h2>Presión</h2>
      <br>
      <i class="fas fa-tachometer-alt fa-7x"></i>
      <p> 950 UM</p>
      <br>
    </div>
  </div>

</div>
