.padding25{
  padding: 25px;
}

.nota{
  margin-bottom: 0px;
  font-size: 12px;
}

#lastData{
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #81B1C6;
  color: white;
}

#lastData h2{
  font-size: 2em !important;
}

#lastData .btn{
  background-color: #E0684B;
  color: white;
}

#proteinlab{
  background-color: #C87B25;
  color: white;
}

#waspTHP{
  background-color:#81B1C6;
}

#waspCO2{
  background-color: #87D4A6;
}
